
<hr>
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->

  <div class="row">
    
    <div class="col-md-8">
     <h4>About Film history</h4> 
      <p>A film – also called a movie, motion picture, moving picture, picture, photoplay or flick – is a work of visual art that simulates experiences and otherwise communicates ideas, stories, perceptions, 
        feelings, beauty, or atmosphere through the use of moving images.</p>
    <button type="button" class="btn btn-danger">Read More</button>
    <br>
      <br>
      <hr>
      <div class="mylist">
        <ul>
          <li>In theaters</li>
          <li>Coming soon</li>
          <li>Best of 2012</li>
         
        </ul>
      </div>
  
    <hr>

      <br>
      <!-- <div class="cardbody">
      <div class="card1" style="width: 18rem;">
        <img src="../../assets/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card1" style="width: 18rem;">
        <img src="../../assets/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card1" style="width: 18rem;">
        <img src="../../assets/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
       <div class="card1" style="width: 18rem;">
        <img src="../../assets/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div> -->
      <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<div class="row">
  <div class="col-md-4">
    <img src="../../assets/top movies/guardians-of-the-galaxy-vol-3.jpg"  alt="" class="current1">
    <span class="moviesName">Guardians of the galaxy</span><br><span class="moviesDate">20-02-2020</span>
    
  </div>
  <div class="col-md-4">
    <img src="../../assets/top movies/indian-police-force.jpeg"  alt="" class="current1">
    <span class="moviesName">Indian-police-force</span><br><span class="moviesDate">20-12-2022</span>
    
  </div>
  <div class="col-md-4">
    <img src="../../assets/top movies/mulshi pattern.jpeg"   alt="" class="current1">
    <span class="moviesName">Mulshi pattern</span><br><span class="moviesDate">10-05-2019</span>
  </div>
  <div class="col-md-4">
    <img src="../../assets/top movies/pirates of the caribbean.jpg"  alt="" class="current1">
    <span class="moviesName">pirates of the caribbean</span><br><span class="moviesDate">25-05-2018</span>
    
  </div>
  <div class="col-md-4">
    <img src="../../assets/top movies/the-dark-knight-rises-2012-movie-11.jpg"  alt="" class="current1">
    <span class="moviesName">The dark knight</span><br><span class="moviesDate">25-05-2018</span>

  </div>
  <div class="col-md-4">
    <img src="../../assets/top movies/white-house-down.jpg"  alt="" class="current1">
    <span class="moviesName">White-house-down</span><br><span class="moviesDate">25-05-2018</span>

  </div>
</div>
      <!-- <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t1.PNG?raw=true "  alt="" class="current">
      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t2.PNG?raw=true" alt="" class="current">
      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t3.PNG?raw=true" alt="" class="current">
      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t4.PNG?raw=true" alt="" class="current"> -->
    </div>
    <div class=" col-md-4"> 
     <h3><b> <span>Recentalt Added</span></b></h3>
     <hr>
      <br>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t1.PNG?raw=true" alt="" class="current"></a>
      <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t2.PNG?raw=true" alt="" class="current"></a>
      <a href=""><img src="https//github.com/carlosavilae/Netflix-Clone/blob/master/img/t3.PNG?raw=true" alt="" class="current"></a>
      
      <div class="card" style="width: 18rem;">
        <span class="cname">Most Popular</span>
        <hr>
        <img src="../../assets/escap.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Astronaut Scorch Supernova is a national hero on planet Baab, where blue aliens reside. The situation regresses when he gets trapped after responding to an SOS from another dangerous alien planet.</p>
          <button class="btn btn-outline-success" type="submit">Read More</button>
        </div>
      </div>
      </div>
  </div>
  <hr>
  <div class="mostview">
      <pre class="usname  text-center"> Cinema of the United States</pre>
      <p>The cinema of the United States, consisting mainly of major film studios 
        (also known metonymously as Hollywood) along with some independent films, has
         had a large effect on the global film industry since the early 20th century. 
         The dominant style of American cinema is classical Hollywood cinema, which developed 
         from 1910 to 1962 and is still typical of most films made there to this day. While 
         Frenchmen Auguste and Louis Lumière are generally credited with the birth of modern 
         cinema,[5] American cinema soon came to be a dominant force in the emerging industry. 
         With more than 600 English-language films released on average every year As of 2017, 
         it produced the fourth-largest number of films of any national cinema, after India, 
         Japan, and China.[6</p>
  
  </div>
 
  <div class="wrapper">

    <!-- HEADER -->
    <!-- <header> -->

      <!-- <div class="netflixLogo">
        <a id="logo" href="#home"><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true" alt="Logo Image"></a>
      </div>       -->
<!-- 
      <nav class="main-nav">                
        <a href="#home">Home</a>
        <a href="#tvShows">TV Shows</a>
        <a href="#movies">Movies</a>
        <a href="#originals">Originals</a>
        <a href="#">Recently Added</a>
        <a target="_blank" href="https://codepen.io/cb2307/full/NzaOrm">Portfolio</a>        
      </nav> -->
          
    <!-- </header> -->
    <!-- END OF HEADER -->
    
    <!-- MAIN CONTAINER -->
    

      <!-- <h1 id="myList">Trending Now</h1>
      <div class="box">
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t1.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t2.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t3.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t4.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t5.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t6.PNG?raw=true" alt=""></a>                  
      </div> -->
      
      <!-- <h1 id="tvShows">TV Shows</h1>
      <div class="box">
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv1.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv2.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv3.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv4.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv5.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv6.PNG?raw=true" alt=""></a>

        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv7.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv8.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv9.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv10.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv11.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/tv12.PNG?raw=true" alt=""></a>              
      </div> -->
      
<hr>
<br>

      <!-- <h1 id="movies">Blockbuster Action & Adventure</h1> -->
      <div class="box">
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m1.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m2.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m3.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m4.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m5.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m6.PNG?raw=true" alt=""></a>                
      </div>

      <!-- <h1 id="originals">Netflix Originals</h1>
      <div class="box">
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o1.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o2.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o3.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o4.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o5.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o6.PNG?raw=true" alt=""></a>                
      </div> -->
     
    <!-- END OF MAIN CONTAINER -->

    <!-- LINKS -->
 

        <!-- <div class="rounded-social-buttons">
              <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
              <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
              <a class="social-button tiktok" href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
              <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
              <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div> -->
   
      <!-- <div class="sub-links">
        <ul>
          <li><a href="#">Audio and Subtitles</a></li>
          <li><a href="#">Audio Description</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal Notices</a></li>
          <li><a href="#">Corporate Information</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div> -->
<p></p>
      <div class="container1 ">


         <section class="link">
         <p> <span>subscribe  to our newlatter      </span></p>
          <form class="d-flex" role="search">
           
            <input class=" me-2" type="search" placeholder="Enter Enail" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Submit</button>
            <div class="logos">
              <a href=""><i class="fab fa-facebook-square fa-2x logo"></i></a>
              <a href=""><i class="fab fa-instagram fa-2x logo"></i></a>
              <a href=""><i class="fab fa-twitter fa-2x logo"></i></a>
              <a href=""><i class="fab fa-youtube fa-2x logo"></i></a>
            </div>
          </form>
          
          </section>
        <div class="row">
          <div class="col-sm-2">
            <p>&nbsp; &nbsp; Paterners</p>
            <ul>
              <li>Google and movi</li>
              <li>Amzazon</li>
              <li>hotstar</li>
              <li>Jio chinima</li>
              <li>Netflix</li>
              <li>Max</li>
            </ul>
          </div>
          <div class="col-sm-2">
            <p>&nbsp; &nbsp; Tweet</p>
            <ul >
              <li class="mytext">Lorem ipsum dolor sit </li><hr>
              <li class="mytext">Lorem ipsum dolor sit amet consectetur  Molestiae,</li><hr>
              <li class="mytext">Lorem ipsum dolor sit amet  amet sequi dicta c</li><hr>
             
            </ul>
          </div>
          <div class="col-sm-4">
            <p>Contact US</p>
            <p  class="mytext">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic iusto tempora autem unde, tenetur doloribus at, est mollitia dolor, sapiente veritatis repellat. Ad quos laborum aliquid ducimus fugit corporis ex.
          <br>
          <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, eos.</p> 
           <button type="button" class="btn ">Read More</button>
          </div>
          <div class="col-sm-4">
            <p>About us </p>
          <p class="mytext">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eos ducimus ab libero quisquam blanditiis error reiciendis rerum dolore eligendi! Veniam aperiam perferendis ipsa commodi officia eius? Cumque, molestias aspernatur?
          <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime id numquam praesentium laboriosam. Omnis, consectetur! Temporibus dignissimos voluptate doloremque.</p>
          
          </div>
        </div>
        
      </div>

    
    
