
<div class="container">
    <div class="name_main">
       <div class="main_head">
       <h2>     HD Chaeel</h2>
       <h6 class="subtital"> To see all movies our side</h6>
       </div>
       <div class="sur">
        <input type="search" placeholder="Search" aria-label="Search">
       </div>
    </div>

    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
      <nav class="navbar navbar-expand-lg bg-dark">
        <!-- <div class="container-fluid">
          <a class="navbar-brand" href="/login">login</a>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " href="/student">Stundent</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            
            </ul>
          </div>
        </div> -->

        <ul>
          <li>Home
            <pre class="sname">home new</pre>
          </li>

          <li>Tv Shows
            <pre class="sname">new shows</pre>
          </li>
          
          <li>Web Series
            <pre class="sname">Recent</pre>
          </li>
          <li>Top movies
            <pre class="sname">view</pre>
          </li>
          <li>Most View
            <pre class="sname">by Rating</pre>
          </li>
        </ul>
      </nav>

     
     
      
     
      

      <app-imageslid ></app-imageslid>
      <app-movies></app-movies>
</div>
<!-- <div>
    <router-outlet></router-outlet>
  </div> -->

 
